{% extends 'temp/mainhome.html' %}
{% block base%}

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<center>
		<h1 class="text-primary">OWNER REGISTRATION FORM</h1>
		<form method="post" enctype="multipart/form-data">
            {% csrf_token %}
			<table>
				<tr>
					<td style="color: white">NAME:</td>
					<td><input type="text" name="name" required="" class="form-control" style="width: 350px;height: 50px" ></td>
				</tr>
				<tr>
					<td style="color: white">AGE:</td>
					<td><input type="number" name="age"  class="form-control" required pattern="[0-9]{2}" minlength="1" maxlength="2" style="width: 350px;height: 50px"></td>
				</tr>
				<tr>
					<td style="color: white">GENDER:</td>
					<td>Male:<input type="radio" name="gender" value="male" checked="" >
						Female:<input type="radio" name="gender" value="female">
						Other:<input type="radio" name="gender" value="other">
					</td>
				</tr>
				<tr>
					<td style="color: white">HOUSENAME:</td>
					<td><input type="text" name="housename" required="" class="form-control" style="width: 350px;height: 50px"> </td>
				</tr>
				<tr>
					<td style="color: white">LANDMARK:</td>
					<td><input type="text" name="landmark" required="" class="form-control" style="width: 350px;height: 50px"></td>
				</tr>
				<tr>
					<td style="color: white">DISTRICT:</td>
					<td><select name="district" required="" class="form-control" style="width: 350px;height: 50px">
						<option>----SELECT----</option>
						<option value="Kasargod">Kasargod</option>
						<option value="Kannur">Kannur</option>
						<option value="Wayanad">Wayanad</option>
						<option value="Kozhikode">Kozhikode</option>
						<option value="Malappuram">Malappuram</option>
						<option value="Palakkad">Palakkad</option>
						<option value="Thrissur">Thrissur</option>
						<option value="Eranakulam">Eranakulam</option>
						<option value="Idukki">Idukki</option>
						<option value="Kottayam">Kottayam</option>
						<option value="Alappuzha">Alappuzha</option>
						<option value="Pathanamthitta">Pathanamthitta</option>
						<option value="Kollam">Kollam</option>
						<option value="Thiruvanantapuram">Thiruvanatapuram</option>
					</select></td>
				</tr>
				<tr>
					<td style="color: white">PINCODE:</td>
					<td><input type="text" name="pincode"  class="form-control" required pattern="[0-9]{6}" minlength="6" maxlength="6" style="width: 350px;height: 50px"></td>
				</tr>
				<tr>
					<td style="color: white">MOBILE NUMBER:</td>
					<td><input type="text" name="mobilenumber"  class="form-control" required pattern="[0-9]{10}" minlength="10" maxlength="10" style="width: 350px;height: 50px"></td>
				</tr>
				<tr>
					<td style="color: white">EMAIL ID:</td>
					<td><input type="email" name="email" required="" class="form-control" style="width: 350px;height: 50px"></td>
				</tr>
				<tr>
					<td style="color: white">ID PROOF</td>
					<td><input type="file" name="idproof" required="" class="form-control" style="width: 350px;height: 50px"></td>
				</tr>
                <tr>
					<td style="color: white">PASSWORD</td>
					<td><input type="password" name="ps" required="" minlength="8" maxlength="10" class="form-control" style="width: 350px;height: 50px"></td>
				</tr>
                <tr>
                    <td></td><td></td>
                </tr>
                 <tr>
                    <td></td><td></td>
                </tr>
                 <tr>
                    <td></td><td></td>
                </tr>
				<tr>
					<td></td>
					<td><input type="submit" value="REGISTER" class="btn-primary" style="width: 350px;height: 50px"></td>
				</tr>
			</table>
			{% if msg == "Succefully Registered"%}
    <script>
     alert("Successfuly Registered")
    </script>
     {% elif msg == "User exist" %}
     <script>
     alert("User with same phone number or email exist")
     </script>
{% endif %}
		</form>
	</center>

</body>
</html>

{% endblock %}