{% extends 'temp/maintenant.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<center>
	<h1 class="text-primary">VIEW REPLY TO PROPERTY REQUEST</h1>
	<table border="2" class="table table-striped">
		<tr>
			<th style="color: white">HOUSE NAME</th>
{#			<th>OWNER NAME</th>#}
			<th style="color: white">REQUIRED YEAR</th>
			<th style="color: white">REQUIRED MONTH</th>
            <th style="color: white">REPLY</th>
		</tr>
        {% for i in x %}
		<tr>
			<td style="color: white">{{ i.house.house_name }}</td>
{#			<td></td>#}
			<td style="color: white">{{ i.required_year }}</td>
			<td style="color: white">{{ i.required_month }}</td>
            <td style="color: white">{{ i.reply }}
			<td><a href="/security_payment/view_security/" class="btn btn-primary">Security payment</a>
			</td>
		</tr>
        {% endfor %}
	</table>
</center>
</body>
</html>
{% endblock %}