{% extends 'temp/mainowner.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<center>
		<h1 class="text-primary">ADD SECURITY PAYMENT</h1>
		<form method="post">
            {% csrf_token %}
			<table>

				<tr>
					<td style="color: white">AMOUNT:</td>
					<td><input type="text" name="amount"  class="form-control" value="{{ x.security_payment }}" style="width: 350px;height: 50px"></td>
				</tr>
				<tr>
					<td style="color: white">DUE DATE:</td>
					<td><input type="date" name="duedate" required="" class="form-control" style="width: 350px;height: 50px"></td>
				</tr>
                <tr>
                    <td></td><td></td>
                </tr>
                 <tr>
                    <td></td><td></td>
                </tr>
                 <tr>
                    <td></td><td></td>
                </tr>
				<tr>
					<td></td>
					<td><input type="submit" value="SUBMIT" class="btn-primary" style="width: 350px;height: 50px">
				</tr>
			</table>
			
		</form>
	</center>

</body>
</html>
{% endblock %}